# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=formation_management
DB_PORT=3306

# Configuration des emails
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=test@gmail.com
EMAIL_PASSWORD=test

# Configuration JWT
JWT_SECRET=votre_secret_jwt

# Port de l'application
PORT=3000
